<style type="text/css">
  body { padding-top: 40px; }
</style>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to @page.garden.site.name, '/', :class => 'brand' %>

      <ul class="nav">
        <% target_pages(@targets).each do |target| %>
          <li class="<%= @page == target && 'active' %>">
            <%= link_to(maybe_use_garden_if_index(target), page_path(target, :id => target, :variety_type => target.class._variety)) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
