<%= cell_content do %>
  <div class="subnav">
    <ul class="nav nav-pills">
      <% @scenes.each do |p| %>
        <li>
          <%= 
            begin 
              link_to p, scene_path(p)
            rescue ActionController::RoutingError
              link_to p, :anchor => ''
            end
          %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
