<%= cell_content do %>
  <div class="subnav">
    <ul class="nav nav-pills">
      <% @scenes.each do |p| %>
        <li>
          <%= link_to(p, scene_path(p, :id => p, :variety_type => p.class._variety)) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
