<%= cell_content do %>
  <div class="subnav">
    <ul class="nav nav-pills">
      <% @pages.each do |p| %>
        <li>
          <%= link_to(p, page_path(p, :id => p, :sorbet_type => p.class._sorbet)) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
