<%= cell_content do %>
  <div class="btn-group">
    <% @index_pages.each do |ip| %>
      <%= link_to(ip.section, page_path(ip, :id => ip, :variety_type => ip.class._variety), :class => :btn) %>
    <% end %>
  </div>
<% end %>
