<% if @targets.any? %>
  <ul>
    <%- @targets.each do |t| -%>
      <li>
        <% if @placement.scoop.page %>
          <%= link_to(t, page_path(@placement.scoop.page, :id => t, :variety_type => t.class._variety)) %>
        <% else %>
          <%= t %>
        <% end %>
      </li>
      
      <%- if t.respond_to?(:children)  -%>
          <%= render({:state => :tree_node}, t.children, @sieve) -%>
      <%- end -%>

      <%- @sieve.sieve_traits.each do |mi| -%>
          <%= 
            i = mi.trait
            unless i.relation == 'has_many'
              format_trait(t, i)
            else
              manies = t.send(i.method_name)
              manies = manies.reject { |m| m.respond_to?(:parent_id) && m.parent_id }
              render(
                {:state => :tree_node}, 
                manies, 
                @sieve.children.detect{|m| m.variety == i.inverse_variety}
              ) unless i.polymorphic?
            end
          -%>
      <%- end if @sieve.present? -%>
    <%- end -%>
  </ul>
<% end %>
