<%= cell_title('connections') %>

<ul>
  <%- @ingredients.each do |i| -%>
    <li>
      <%= i.to_s %> <%= link_to(content_tag(:i, nil, :class => 'icon-plus-sign'), page_path(new_sorbet_page, :sorbet_type => i.inverse.sorbet)) %>
      <%- if @target.present? -%>
        <ul>
          <%- @target.send(i.method_name).each do  |c| -%>
            <li>
              <%= link_to(c, page_path((@placement.scoop.page || @page), :id => c, :sorbet_type => c.class._sorbet)) %>
            </li>
          <%- end -%>
        </ul>
      <%- end -%>
    </li>
  <%- end -%>
</ul>
