<%= cell_content do %>
  <div class="btn-group">
    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><%= @placement.scoop.body %><b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% @targets.each do |t| %>
        <li><%= link_to(t, page_path(t, :id => t, :sorbet_type => t.class._sorbet)) %><li>
      <% end %>
    </ul>
  </div>
<% end %>
