<div id="<%= @feature.name.idify %>-div" class="carousel slide">
  <div class="carousel-inner">
    <% @features.each do |f| %>
      <div class="item">
        <%= 
          render_cell(f.cell_type,
                      f.template.present? ? f.template : 'show',
                      :scene => @scene,
                      :placement => @placement,
                      :feature => f,
                      :target => @target
          )
        %>
      </div>
    <% end %>
  </div>
  <a class="carousel-control left" href="#<%= @feature.name.idify %>-div" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#<%= @feature.name.idify %>-div" data-slide="next">&rsaquo;</a>
</div>