<div class="hero-unit">
  <% if @feature.title.present? %>
    <h1><%= @placement.feature.title %></h1>
  <% end %>

  <%= cell_content do %>
    <p><%= @placement.feature.body %></p>
  <% end %>
</div>
