<%= cell_content do %>
  <% @pictures.each do |p| %>
    <div style="float: left;">
      <%= link_to image_tag(p.image_url, :alt => p.name, :title => p.caption), scene_path(p._variety.scene, p) %>
    </div>
  <% end %>
<% end %>
