<%= simple_form_for(@search, :as => @placement.params_key,
                      :url => '', # use the scene or the current scene
                      :builder => Habanero::SearchFormBuilder,
                      :html => {:method => :put}) do |f| -%>

  <% @traits.each do |trait| -%>
    <%= f.input trait.method_name, :trait => trait %>
  <% end %>

  <div class="form-actions">
    <%= f.submit 'Search', :class => 'btn btn-primary' -%>
  </div>
<% end %>
