<%= cell_title(@variety.to_s.pluralize) %>

<%= cell_content do %>
  <ul>
    <% @targets.each do |t| %>
      <li>
        <% if @feature.scene %>
          <%= link_to t, scene_path(@feature.scene, t) %>
        <% else %>
          <%= t %>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>
