<%= simple_form_for(@search, :as => @placement.params_key,
                      :url => '', # use the page or the current page
                      :builder => Habanero::SearchFormBuilder,
                      :html => {:method => :put}) do |f| -%>

  <% @ingredients.each do |ingredient| -%>
    <%= f.input ingredient.method_name, :ingredient => ingredient %>
  <% end %>

  <div class="form-actions">
    <%= f.submit 'Search', :class => 'btn btn-primary' -%>
  </div>
<% end %>
