<style type="text/css">
  body { padding-top: 40px; }
</style>

<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">

  <%= link_to @page.section.site.name, '/', :class => 'brand' %>

</div>
</div>
</div>
