<% if @targets.any? %>
  <ul>
    <%- @targets.each do |t| -%>
      <li>
        <% if @placement.scoop.page %>
          <%= link_to(t, page_path(@placement.scoop.page, :id => t, :sorbet_type => t.class._sorbet)) %>
        <% else %>
          <%= t %>
        <% end %>
      </li>
      
      <%- if t.respond_to?(:children)  -%>
          <%= render({:state => :tree_node}, t.children, @mask) -%>
      <%- end -%>

      <%- @mask.mask_ingredients.each do |mi| -%>
          <%= 
            i = mi.ingredient
            unless i.relation == 'has_many'
              format_ingredient(t, i)
            else
              render(
                {:state => :tree_node}, 
                t.send(i.method_name), 
                @mask.children.detect{|m| m.sorbet == i.inverse.sorbet}
              ) unless i.polymorphic?
            end
          -%>
      <%- end if @mask.present? -%>
    <%- end -%>
  </ul>
<% end %>
