<% if @targets.any? %>
  <ul>
    <%- @targets.each do |t| -%>
      <li>
        <% if @placement.scoop.page %>
          <%= link_to(t, page_path(@placement.scoop.page, :id => t, :sorbet_type => t.class._sorbet)) %></li>
        <% else %>
          <%= t %>
        <% end %>

      <%- if t.respond_to?(:children)  -%>
          <%= render({:state => :tree_node}, t.children, @mask) -%>
      <%- end -%>

      <%- @mask.mask_ingredients.each do |mi| -%>
          <%= 
            unless mi.ingredient.relation == 'has_many'
              format_ingredient(t, mi.ingredient)
            else
              render(
                {:state => :tree_node}, 
                t.send(mi.ingredient.method_name), 
                @mask.children.detect{|m| m.sorbet == mi.ingredient.inverse.sorbet}
              )
            end
          -%>
      <%- end if @mask.present? -%>
    <%- end -%>
  </ul>
<% end %>
