<%= cell_content do %>
  <div class="btn-group">
    <% @targets.each do |t| %>
      <%= link_to(t, scene_path(t, :id => t, :variety_type => t.class._variety), :class => :btn) %>
    <% end %>
  </div>
<% end %>
