<style type="text/css">
  body { padding-top: 40px; }
</style>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to Habanero::Site.current.name, '/', :class => 'brand' %>

      <ul class="nav">
        <% target_scenes(@targets).each do |target| %>
          <li class="<%= @scene == target && 'active' %>">
            <%= link_to maybe_use_garden_if_index(target), scene_path(target) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
