<span class="label label-important">
  Could not place <%= placement.feature %> feature with a '<%= placement.template %>' template. 
  The template does exist for this feature. Change either the template or the feature placed on
  <%= link_to @scene, scene_path(@scene._variety.scene, @scene), :class => "label label-important" %> scene.
</span>